.contact-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.viewer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icons a {
    margin: 0 10px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .contact-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

/* Nav bar adjustments */
.navbar-toggler {
    order: -1; /* Moves the toggler to the left */
    margin-right: 10px; /* Adds space between button and text */
}

.navbar-brand {
    display: flex;
    align-items: center;
}
