.contact-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.viewer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%; /* Adjust the right margin as needed */
}

.viewer {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .contact-icons {
        margin: 20px 0;
    }

    .viewer-container {
        margin-left: 35%; /* Adjust the left margin for mobile view */
    }
}
