.contact-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.viewer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icons a {
    margin: 0 10px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .contact-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .viewer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0; /* Adjust the left margin as needed */
        margin-right: 0; /* Adjust the right margin as needed */
    }
}
